<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039585583154-p2e99mmo9bef3mi4s57gfvrrctek7rqb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039585583154-p2e99mmo9bef3mi4s57gfvrrctek7rqb</string>
	<key>API_KEY</key>
	<string>AIzaSyCVdamAbB3aPaFW_em4MyAUszjvEAKAFDs</string>
	<key>GCM_SENDER_ID</key>
	<string>1039585583154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jayzhang.Chatting-Time</string>
	<key>PROJECT_ID</key>
	<string>chattingtime-b2da8</string>
	<key>STORAGE_BUCKET</key>
	<string>chattingtime-b2da8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039585583154:ios:9cd346dcbcb8ee2e</string>
	<key>DATABASE_URL</key>
	<string>https://chattingtime-b2da8.firebaseio.com</string>
</dict>
</plist>